.logo-txt{
    font-size: 35px;
    color: #ee3c35;
}

.brand-font{
    font-family: 'Noto Sans', sans-serif;
}

/* for navbar */
.primary-menu li a{
    color: white;
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
}
.primary-menu li a:hover{
    color:  #56eb11;
    font-weight: bold;
    font-size: 24px;
}

.bg-nav{
    background-color: #2151ab;
    
}

.primary-menu li{
    padding-left: 4px;
    
}

/* dropdown-menu */
.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0;
    margin: 0;
    background-color:#0832a5;
    /* color: rgb(59, 9, 9); */

}

/* for acrive menu */
.navbar-nav>.active>a {
    background-color:rgb(59, 56, 245);
    color: white;
}

/* to give aspect ratio in image */
.img-aspect{
    width: 100%;
    aspect-ratio: 4/3;
}

/* for footer */
.footer{
    color: #fff;
    letter-spacing: 1px;
    font-size: 1.25em;
    padding: 15px 0px;
    padding-bottom: 16px;
    font-weight: bold;
    margin-left: 30px;
    display: block;
    font-family: 'open sans';
    margin-top: 15px;
    text-align: justify;

}
.list a{
    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
}
.footer-menu ul li{
    list-style: none;
}

.footer-icon {

    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 1.1em !important;

}

.footer-icon a{
    color: #fff !important;
    font-size: 1.1em !important;
    letter-spacing: 0.5px;
    line-height: 1.8em;
    padding: 5px 0px;
    text-decoration: none;
    font-size: 1.1em !important;
}
.copyright{
    color: white;
    text-align: center;
}


/* Pagination */
.pagination {
    justify-content: center;
    align-items: center;
}
.pagination a {
    margin: auto 15px;
}
.pagination .current {
    padding: 0 10px;
    background-color: #1aec24;

    /* background-color: #03a9f4; */
    color: #fff;
    font-weight: bold;
}

/* for single page content*/
.single-page p{
    text-align: justify;
}

/* for image in single page */
.img-repo img{
    max-width: 100%;
    height: auto;
}



.category__header {
    width: 100%;
    overflow: hidden;
    margin-bottom: 1.875rem;
    display: flex;
    align-items: flex-end;
    border-left: 4px solid #00B16A;
    padding-left: 10px;
}

.category__header .category__title {
    order: 1;
    letter-spacing: -.02em;
    font-weight: 700;
    margin-bottom: 0;
    color: #252525;
    line-height: 1;
}

@media (min-width: 750px) {
    .category__title {
        font-size: 3rem;
    }
}

.category__header .category__title a {
    display: block;
    color: #00B16A;
    transition: all .2s ease-in-out;
    line-height: 1.2;
}

.category__header .category__link {
    order: 3;
    font-size: .8125rem;
    font-weight: 600;
    color: #525252;
    transition: all .2s ease-in-out;
}